{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.vue*",
      "options": {
        "printWidth": 90
      }
    }
  ]
}